
<script type="text/javascript"><!--

$(document).ready(function() {

  const id       = $('#id');
  const question = $('#question');
  const answer   = $('#answer');
  const submit   = abled($(':submit'));

  const slideSpeed = 'fast';

  const onlyAcceptHexIdInput = function() {
    id.keypress(function(e) {
      const ch = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (ch.match(/[a-fA-F0-9]/)) {
        return true;
      } else {
        e.preventDefault();
        return false;
      }
    });
  };

  const showQuestionAnswerSubmit = function(text) {
    question
      .val(text)
      .slideDown(slideSpeed, function() {
        answer
          .slideDown(slideSpeed, function() {
            submit
              .enable(answer.val().trim() !== '')
              .slideDown(slideSpeed, function() {
                answer.focus();
              });
          });
      });
  };

  const hideQuestionAnswerSubmit = function() {
    submit.slideUp(slideSpeed, function() {
      answer.slideUp(slideSpeed, function() {
        question.slideUp(slideSpeed);
      });
    });
  };

  const retrieveQuestionFromId = function() {
    id.keyup(function() {
      const hex = id.val();
      if (hex.length !== 4) {
        hideQuestionAnswerSubmit();
      } else {
        $.getJSON('/book', { id:hex }, function(book) {
          if (book.question === '') {
            hideQuestionAnswerSubmit();
          } else {
            id.blur(); // lose-focus
            showQuestionAnswerSubmit(book.question);
          }
        });
      }
    });
  };

  const enableSubmitIfAnswer = function() {
    answer.keyup(function() {
      submit.enable($(this).val().trim() !== '');
    });
  };

  question.hide();
  answer.hide();
  submit.hide();

  onlyAcceptHexIdInput();
  retrieveQuestionFromId();
  enableSubmitIfAnswer();

});

//--></script>

<!-- =========================================================== -->

<row>
  <h1>question book</h1>
</row>
<row>
  <h2>answer a question</h2>
</row>

<form method="post" action="answered">
  <row>
    <label>its id is
      <input type="text"
             id="id"
             name="id"
             autocomplete="off"
             placeholder="?"
             autofocus>
    </label>
  </row>
  <textarea id="question" readonly></textarea>
  <textarea id="answer"
            name="answer"
            placeholder="Enter your answer here"></textarea>
  <row>
    <button type="submit">submit it</button>
  </row>
</form>
