<style>
@media screen {

  button[type="submit"] {
    float: right;
    width: 120px;
    padding-right: 10px;
  }

  textarea#answer {
    height: 200px;
  }

}
</style>

<!-- =========================================================== -->

<script type="text/javascript"><!--

$(document).ready(function() {

  const qid      = $('#qid');
  const question = $('#question');
  const answer   = $('#answer');
  const submit   = able($(':submit'));

  const onlyAcceptHexIdInput = function() {
    qid.keypress(function(e) {
      const ch = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (ch.match(/[a-fA-F0-9]/)) {
        return true;
      } else {
        e.preventDefault();
        //beep
        return false;
      }
    });
  };

  const showQuestionAnswerSubmit = function(text) {
    question.val(text).slideDown('slow', function(){
      answer.slideDown(900, function() {
        submit.disable().slideDown('slow', function() {
          answer.focus();
        });
      });
    });
  };

  const retrieveQuestionFromHexId = function() {
    qid.keyup(function(){
      if (qid.val().length > 2) {
        $.getJSON('/qid', { id:qid.val() }, function(q) {
          if (q.exists) {
            showQuestionAnswerSubmit(q.text);
          }
        });
      }
    });
  };

  const enableSubmitIfAnswer = function() {
    $('#answer').keyup(function(){
      // TODO: have maximum answer length
      submit.enableIf($(this).val().trim() !== '');
    });
  };

  question.hide();
  answer.hide();
  submit.hide();

  onlyAcceptHexIdInput();
  retrieveQuestionFromHexId();
  enableSubmitIfAnswer();

});

//--></script>

<!-- =========================================================== -->

<h1>answer a question</h1>

<audio>
  <source id="beep" src="audio/beep.mp3"></source>
</audio>

<form method="post" action="answered">
  <row>
    <label>question
      <input type="text" id="qid" name="qid" autocomplete="off" placeholder="?" autofocus>
    </label>
  </row>
  <textarea id="question" readonly></textarea>
  <textarea id="answer" name="answer" placeholder="?"></textarea>
  <row>
    <button type="submit">answer</button>
  </row>
</form>
