
<script type="text/javascript"><!--

$(document).ready(function() {

  const qid      = $('#qid');
  const question = $('#question');
  const answer   = $('#answer');
  const submit   = $(':submit');

  const onlyAcceptHexIdInput = function() {
    qid.keypress(function(e) {
      const ch = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (ch.match(/[a-fA-F0-9]/)) {
        return true;
      } else {
        e.preventDefault();
        //beep
        return false;
      }
    });
  };

  const retrieveQuestionFromHexId = function() {
    qid.keyup(function(){
      if (qid.val() !== '') {
        $.getJSON('/qid', { id:qid.val() }, function(q) {
          if (q.exists) {
            // TODO: reveal slowly
            question.val(q.text).show();
          }
        });
      }
    });
  };

  const enableSubmitIfAnswer = function() {
    //only allow input into answer when there is a question?
    $('#answer').keyup(function(){
      const ifEmpty = $(this).val().trim() === '';
      submit.prop('disabled', ifEmpty);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - -

  question.hide();
  submit.prop('disabled',true);
  onlyAcceptHexIdInput();
  retrieveQuestionFromHexId();
  enableSubmitIfAnswer();

});

//--></script>

<h1>answer a question</h1>

<audio>
  <source id="beep" src="audio/beep.mp3"></source>
</audio>

<form method="post" action="answered">
  <row>
    <label>question
      <input type="text" id="qid" name="qid" placeholder="?" autofocus>
    </label>
  </row>
  <textarea id="question" readonly></textarea>
  <textarea id="answer" name="answer"></textarea>
  <row>
    <button type="submit" id="answer-it">answer it</button>
  </row>
</form>
