<style>
@media screen {

  textarea#question {
  }

  textarea#answer {
    height: 200px;
  }

}
</style>

<!-- =========================================================== -->

<script type="text/javascript"><!--

$(document).ready(function() {

  const qid      = $('#qid');
  const question = $('#question');
  const answer   = $('#answer');
  const submit   = $(':submit');

  const onlyAcceptHexIdInput = function() {
    qid.keypress(function(e) {
      const ch = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (ch.match(/[a-fA-F0-9]/)) {
        return true;
      } else {
        e.preventDefault();
        //beep
        return false;
      }
    });
  };

  const retrieveQuestionFromHexId = function() {
    qid.keyup(function(){
      if (qid.val().length > 2) {
        $.getJSON('/qid', { id:qid.val() }, function(q) {
          if (q.exists) {
            question.val(q.text).slideDown('slow', function(){
              answer.slideDown('slow', function() {
                submit.slideDown('slow', function() {
                  answer.focus();
                });
              });
            });
          }
        });
      }
    });
  };

  const enableSubmitIfAnswer = function() {
    $('#answer').keyup(function(){
      const ifEmpty = $(this).val().trim() === '';
      submit.prop('disabled', ifEmpty);
    });
  };

  question.hide();
  answer.hide();
  submit.hide().prop('disabled',true);

  onlyAcceptHexIdInput();
  retrieveQuestionFromHexId();
  enableSubmitIfAnswer();

});

//--></script>

<!-- =========================================================== -->

<h1>answer a question</h1>

<audio>
  <source id="beep" src="audio/beep.mp3"></source>
</audio>

<form method="post" action="answered">
  <row>
    <label>question
      <input type="text" id="qid" name="qid" autocomplete="off" placeholder="?" autofocus>
    </label>
  </row>
  <textarea id="question" readonly></textarea>
  <textarea id="answer" name="answer"></textarea>
  <row>
    <button type="submit">answer</button>
  </row>
</form>
