
<script type="text/javascript"><!--

$(document).ready(function() {

  const submit = abled($(':submit'));

  submit.disable();

  $('#question').keyup(function() {
    submit.enable($(this).val().trim() !== '');
  });

});

//--></script>

<row>
  <h1>question book</h1>
</row>
<row>
  <h2>ask a question</h2>
</row>

<form method="post" action="asked">
  <row>
    <label>its id is
      <input type="text"
             id="id"
             name="id"
             value="<%= @id %>"
             readonly>
    </label>
  </row>
  <textarea id="question"
            name="question"
            placeholder="Enter your question here"
            autofocus></textarea>
  <row>
    <button type="submit">submit it</button>
  </row>
</form>
