<style>
@media screen {

  button[type="submit"] {
    float: right;
    width: 120px;
    padding-right: 10px;
  }

}
</style>

<!-- =========================================================== -->

<script type="text/javascript"><!--

$(document).ready(function() {

  const submit = abled($(':submit'));

  submit.disable();

  $('#asked').keyup(function(){
    // TODO: have maximum question length
    submit.enableIf($(this).val().trim() !== '');
  });

});

//--></script>

<h1>ask a question</h1>

<form method="post" action="asked">
  <row>
    <label>question
      <input type="text" id="qid" name="qid" readonly value="<%= @qid %>">
    </label>
  </row>
  <textarea id="asked" name="asked" placeholder="?" autofocus></textarea>
  <row>
    <button type="submit">ask</button>
  </row>
</form>
