
<script type="text/javascript"><!--

$(document).ready(function() {

  const submit = abled($(':submit'));

  submit.disable();

  $('#q_text').keyup(function(){
    submit.enable($(this).val().trim() !== '');
  });

});

//--></script>

<h1>question book</h1>
<row>
  <h2>ask a question</h2>
</row>

<form method="post" action="asked">
  <row>
    <label>its hex-id is
      <input type="text"
             id="q_id"
             name="q_id"
             value="<%= @qid %>"
             readonly>
    </label>
  </row>
  <textarea id="q_text"
            name="q_text"
            placeholder="Enter your question here"
            autofocus></textarea>
  <row>
    <button type="submit">submit it</button>
  </row>
</form>
