
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#ask').click(function(){
    window.location.href = 'ask';
  });

  $('#answer').click(function(){
    window.location.href = 'answer';
  });

  $('#read').click(function(){
    window.location.href = 'read';
  });

});

//--></script>

<h1>question book</h1>
<button id="ask">ask a question</button>
<button id="answer">answer a question</button>
<!-- show this? -->
<button id="read">read answers</button>
