
<script type="text/javascript"><!--

$(document).ready(function() {

  $('#ask').click(function() {
    window.location.href = 'ask';
  });

  $('#answer').click(function() {
    window.location.href = 'answer';
  });

  $('#read').click(function() {
    window.location.href = 'read';
  });

});

//--></script>

<row>
  <h1>question book</h1>
</row>

<button id="ask">ask a question</button>
<button id="answer">answer a question</button>
<button id="read">read the answers</button>
