
<script type="text/javascript"><!--

$(document).ready(function() {


});

//--></script>

<h1>read the answers</h1>

  <row>
    <label>its hex-id is
      <input type="text" id="q_id" name="q_id" readonly value="<%= @qid %>">
    </label>
  </row>
  <textarea id="q_text" readonly><%= @qText %></textarea>

