
<script type="text/javascript"><!--

$(document).ready(function() {

  // You could come here without a valid _id
  // So I need q_id entry field to be editable
  // just like answer.erb
  //
  // Use ajax to get answers.

});

//--></script>

<row>
  <h1>question book</h1>
</row>
<row>
  <h2>read the answers</h2>
</row>


<row>
  <label>its hex-id is
    <input type="text"
           id="id"
           readonly
           value="<%= @id %>">
  </label>
</row>
<textarea id="question" readonly><%= @question %></textarea>
<row>
  <answers>
    <% @answers.each do |answer| %>
      <answer><%= answer %></answer>
    <% end %>
  </answers>
</row>