
<script type="text/javascript"><!--

$(document).ready(function() {

  const id       = $('#id');
  const question = $('#question');
  const answers  = $('answers');

  const slideSpeed = 'fast';

  const onlyAcceptHexIdInput = function() {
    id.keypress(function(e) {
      const ch = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (ch.match(/[a-fA-F0-9]/)) {
        return true;
      } else {
        e.preventDefault();
        //TODO: beep
        return false;
      }
    });
  };

  const showQuestionAnswers = function(book) {
  };

  const hideQuestionAnswers = function() {
  };

  const retrieveQuestionFromId = function() {
    id.keyup(function() {
      if (id.val().length !== 4) {
        hideQuestionAnswers();
      } else {
        $.getJSON('/book', { id:id.val() }, functionbook {
          if (book.question !== '') {
            showQuestionAnswers(book);
          } else {
            hideQuestionAnswers();
          }
        });
      }
    });
  };

  question.hide();
  answers.hide();

  onlyAcceptHexIdInput();

});

//--></script>

<row>
  <h1>question book</h1>
</row>
<row>
  <h2>read the answers</h2>
</row>
<row>
  <label>its id is
    <input type="text"
           id="id"
           autocomplete="off"
           value="<%= @id %>">
  </label>
</row>
<textarea id="question" readonly><%= @question %></textarea>
<row>
  <answers>
    <% @answers.each do |answer| %>
      <answer><%= answer %></answer>
    <% end %>
  </answers>
</row>