
<script type="text/javascript"><!--

$(document).ready(function() {

  const id       = $('#id');
  const question = $('#question');
  const answers  = $('answers');

  const slideSpeed = 'fast';

  const onlyAcceptHexIdInput = function() {
    id.keypress(function(e) {
      const ch = String.fromCharCode(!e.charCode ? e.which : e.charCode);
      if (ch.match(/[a-fA-F0-9]/)) {
        return true;
      } else {
        e.preventDefault();
        return false;
      }
    });
  };

  const showQuestionAnswers = function(book) {
    question
      .val(book.question)
      .slideDown(slideSpeed, function() {
        answers.empty();
        for (const answer of book.answers) {
          answers.append($('<answer>', { text:answer }));
        }
        answers.slideDown(slideSpeed);
    });
  };

  const hideQuestionAnswers = function() {
    answers.slideUp(slideSpeed, function() {
      question.slideUp(slideSpeed);
    });
  };

  const retrieveQuestionAnswersFromId = function() {
    const hex = id.val();
    if (hex.length !== 4) {
      hideQuestionAnswers();
    } else {
      $.getJSON('/book', { id:hex }, function(book) {
        if (book.question === '') {
          hideQuestionAnswers();
        } else {
          showQuestionAnswers(book);
        }
      });
    }
  };

  question.hide();
  answers.hide();

  onlyAcceptHexIdInput();
  id.keyup(function() {
    retrieveQuestionAnswersFromId();
  });

  retrieveQuestionAnswersFromId();

  setInterval(retrieveQuestionAnswersFromId, 2000);

});

//--></script>

<row>
  <h1>question book</h1>
</row>
<row>
  <h2>read the answers</h2>
</row>
<row>
  <label>its id is
    <input type="text"
           id="id"
           autocomplete="off"
           value="<%= @id %>"
           autofocus>
  </label>
</row>
<textarea id="question" readonly></textarea>
<row>
  <answers>
  </answers>
</row>