@media screen {

    * {
        font-family: "Impact";
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    body {
        padding-top: 50px;
        width: 550px;
        margin: 0 auto;
    }

    question-book {
        display: inline-block;
        background-color:black;
        width: 550px;
        margin: 0 auto;
        padding-bottom: 40px;
        border-radius: 20px;
    }

    h1,h2 {
      color: white;
      cursor: default;
      text-align: right;
    }

    h1 {
      font-size: 2em;
      padding-top: 25px;
    }

    h2 {
      font-size: 1.4em;
      padding-bottom: 20px;
      position: relative;
      top: -15px;
    }

    button {
      width: 355px;
      display: block;
      margin: 0 auto;

      background-color: white;
      text-align: right;
      margin-bottom: 10px;
      padding-bottom: 2px;
      border-radius: 10px;
      cursor: hand;
      padding-right: 10px;
    }

    row {
      width: 355px;
      display: block;
      margin: 0 auto;
    }

    label {
      float: right;
      color: white;
    }

    input#id {
      display: inline;
      padding-left: 5px;
      width: 115px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    textarea {
      display: block;
      margin: 0 auto;
      width: 355px;
      padding-left: 8px;
      padding-right: 4px;
      margin-bottom: 5px;
    }

    textarea#question {
      height: 120px;
    }

    textarea#answer {
      height: 120px;
      color: white;
      background-color: black;
    }

    answers {
      height: 120px;
      overflow: scroll;
      display: block;
    }

    answer {
      height: auto;
      display: block;
      color: white;
      background-color: black;
      border-bottom: 1px solid gray;
      padding-left: 8px;
      font-size: 75%;
    }

    input {
      display: inline;
      background-color: white;
      color: black;
    }

    button[type=submit] {
      float: right;
      width: 135px;
    }
}

